<%= form_for @user, url: user_path(@user) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>


  <div class="mb-3 form-check">
    <label class="form-check-label">
      <%= f.radio_button :admin, true, class: "form-check-input" %> Admin
    </label>
  </div>
  <div class="mb-3 form-check">
    <label class="form-check-label">
      <%= f.radio_button :admin, false, class: "form-check-input" %> Not Admin
    </label>
  </div>

  <%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>
