



  <h1 class="mt-4">Dashboard</h1>

 <%= link_to "View Weekly Stats", weekly_stats_path(week_number: Date.today.cweek), class: "btn btn-primary ml-auto"  %>




  <section class="d-flex flex-column justify-content-start mt-4" data-controller="chart"
            data-chart-prayer-meetings-data="<%= @prayer_meetings_data.to_json %>"
            data-chart-lords-days-data="<%= @lords_days_data.to_json %>"
            data-chart-small-groups-data="<%= @small_groups_data.to_json %>">





    <% if !@lords_days_data.empty? %>
      <article class="my-4">

        <h3 class="text-center mb-3">
          <%= link_to "Lords Days", lords_days_path, class: "text-decoration-none fs-2 text-black fw-bold"  %>
        </h3>

        <div id="lords-days-chart" class="chart" data-chart-target="chart" style="width: 100%; height: 500px;"></div>



        <div class="d-flex">

        <% if ! @lords_days_total_data.empty? %>
          <%= line_chart  @lords_days_total_data, library: { title: "Lords Days Total" }  %>
        <% end %>






        <% if @latest_lords_day_pie_chart_data.present? %>
          <%= pie_chart @latest_lords_day_pie_chart_data, library: {title: {text: "Last lords day"}}  %>
        <% end %>
        </div>



      </article>
    <% end %>

    <% if !@prayer_meetings_data.empty? %>
      <article class="my-4">

        <h3 class="text-center mb-3">
          <%= link_to "Prayer Meetings", prayer_meetings_path, class: "text-decoration-none fs-2 text-black fw-bold"  %>
        </h3>

        <div id="prayer-meetings-chart" class="chart" data-chart-target="chart" style="width: 100%; height: 500px;"></div>

        <div class="d-flex">
        <% if !@prayer_meetings_total_data.empty? %>
          <%= line_chart @prayer_meetings_total_data, library: { title: "Prayer Meetings Total" }  %>
        <% end %>

        <% if @lastest_prayer_meetings_pie_chart_data.present? %>
          <%= pie_chart @lastest_prayer_meetings_pie_chart_data %>
        <% end %>
        </div>


      </article>
    <% end %>

    <% if !@small_groups_data.empty? %>
      <article class="my-4">
        <h3 class="text-center mb-3">
          <%= link_to "Small Groups", small_groups_path, class: "text-decoration-none fs-2 text-black fw-bold"  %>
        </h3>


         <div id="small-groups-chart" class="chart" data-chart-target="chart" style="width: 100%; height: 500px;"></div>
        <div class="d-flex">
        <% if !@small_groups_total_data.empty? %>
          <%= line_chart @small_groups_total_data, library: { title: "Small Groups Total" } %>
        <% end %>

        <% if @lastest_small_groups_pie_chart_data.present? %>
          <%= pie_chart @lastest_small_groups_pie_chart_data %>
        <% end %>
        </div>

      </article>
    <% end %>

  </section>
