<!-- Include the Google Charts API library -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



<!-- Write JavaScript code to create the chart using the API -->
<script type="text/javascript">
  // Load the Visualization API and the corechart package
  google.charts.load('current', {'packages':['corechart']});

  // Set a callback to run when the API is loaded
  google.charts.setOnLoadCallback(drawChart);

  // Define a function to draw the chart
  function drawChart() {
    // Create a data table
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Week');
    data.addColumn('number', 'Total');
    data.addColumn('number', 'Adults');
    data.addColumn('number', 'Teenagers');
    data.addColumn('number', 'Children');
    data.addColumn('number', 'Toddlers');
    data.addRows([
      <% @lords_days_data.each do |week, total, adults, teenagers, children, toddlers| %>
        ['<%= week %>', <%= total %>, <%= adults %>, <%= teenagers %>, <%= children %>, <%= toddlers %>],
      <% end %>
    ]);

    // Set chart options
    var options = {
      title: 'Weekly Statistics',
      hAxis: {title: 'Week Number and Year'},
      vAxes: [
        {title: 'Total'},
        {title: 'Number of People', titleTextStyle: {color: '#FF0000'}, textStyle: {color: '#FF0000'}}
      ],
      seriesType: 'bars',
      series: {
        0: {type: 'line', targetAxisIndex: 0},
        1: {targetAxisIndex: 1},
        2: {targetAxisIndex: 1},
        3: {targetAxisIndex: 1},
        4: {targetAxisIndex: 1}
      },
      colors: ['#0000FF', '#00FF00', '#FFA500', '#FF0000', '#800080']
    };

    // Instantiate and draw the chart
    var chart = new google.visualization.ComboChart(document.getElementById('lords-day-chart'));
    chart.draw(data, options);
  }
</script>



  <h1 class="mt-4">Dashboard</h1>

  <!-- Modals -->
  <div>
  <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#lordsDayModal" title="lords day count">
      Lords Day +
    </button>

    <!-- Modal -->
    <div class="modal fade" id="lordsDayModal" tabindex="-1" aria-labelledby="lordsDayModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Lords Day Count</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "lords_day/form" %>
          </div>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#prayerMeetingModal" title="lords day count">
      Prayer Meeting +
    </button>

    <!-- Modal -->
    <div class="modal fade" id="prayerMeetingModal" tabindex="-1" aria-labelledby="prayerMeetinglLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Prayer Meeting Count</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "prayer_meeting/form" %>
          </div>
        </div>
      </div>
    </div>


    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#smallGroupModal" title="lords day count">
      Small Group +
    </button>

    <!-- Modal -->
    <div class="modal fade" id="smallGroupModal" tabindex="-1" aria-labelledby="smallGrouplLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Small Group Meeting Count</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "small_group/form" %>
          </div>
        </div>
      </div>
    </div>

  </div>


  <section class="d-flex flex-column justify-content-start mt-4">





    <% if !@lords_days_data.empty? %>
      <article class="my-4">

        <h3 class="text-center mb-3">
          <%= link_to "Lords Days", lords_days_path, class: "text-decoration-none fs-2 text-black fw-bold"  %>
        </h3>

                <% if !@lords_days_data.empty? %>
          <!-- Create a container for the chart -->
            <div id="lords-day-chart" style="width: 100%; height: 500px;"></div>
        <% end %>

        <div class="d-flex">






        <% if @latest_lords_day_pie_chart_data.present? %>
          <%= pie_chart @latest_lords_day_pie_chart_data, library: {title: {text: "Last lords day"}}  %>
        <% end %>
        </div>



      </article>
    <% end %>

    <% if !@prayer_meetings_data.empty? %>
      <article class="my-4">

        <h3 class="text-center mb-3">
          <%= link_to "Prayer Meetings", prayer_meetings_path, class: "text-decoration-none fs-2 text-black fw-bold"  %>
        </h3>
        <div class="d-flex">
        <% if !@prayer_meetings_data.empty? %>
          <%= line_chart @prayer_meetings_data, library: {hAxis: {title: 'Week', label: 'Week Number and Year'}}  %>
        <% end %>

        <% if @lastest_prayer_meetings_pie_chart_data.present? %>
          <%= pie_chart @lastest_prayer_meetings_pie_chart_data %>
        <% end %>
            </div>


      </article>
    <% end %>

    <% if !@small_groups_data.empty? %>
      <article class="my-4">
        <h3 class="text-center mb-3">
          <%= link_to "Small Groups", small_groups_path, class: "text-decoration-none fs-2 text-black fw-bold"  %>
        </h3>

        <div class="d-flex">
        <% if !@small_groups_data.empty? %>
          <%= line_chart @small_groups_data %>
        <% end %>

        <% if @lastest_small_groups_pie_chart_data.present? %>
          <%= pie_chart @lastest_small_groups_pie_chart_data %>
        <% end %>
        </div>

      </article>
    <% end %>

  </section>
