<%= form_tag weekly_stats_path, method: :get do %>
  <%= label_tag :week_number, "Week Number" %>
  <%= number_field_tag :week_number, params[:week_number] || Date.today.cweek, min: 1, max: 52, step: 1 %>
  <%= submit_tag "View Stats" %>
<% end %>

<h1>Weekly Stats for Week <%= @week_number %></h1>

<table  class="table">
  <thead>
    <tr>
    <th>Meeting</th>
    <th>Adults</th>
    <th>Teenagers</th>
    <th>Children</th>
    <th>Toddlers</th>
    <th>Total</th>
        </tr>
  </thead>
  <tbody>
    <tr>
    <td>Lords Day</td>
    <td><%= @lords_days_data.present? ? @lords_days_data[0][2] : "no records yet" %></td>
    <td><%= @lords_days_data.present? ? @lords_days_data[0][3] : "no records yet" %></td>
    <td><%= @lords_days_data.present? ? @lords_days_data[0][4] : "no records yet" %></td>
    <td><%= @lords_days_data.present? ? @lords_days_data[0][5] : "no records yet" %></td>
    <td><%= @lords_days_data.present? ? @lords_days_data[0][1] : "no records yet" %></td>
    </tr>
    <tr>
    <td>Prayer Meeting</td>
    <td><%= @prayer_meetings_data.present? ? @prayer_meetings_data[0][2] : "no records yet" %></td>
    <td><%= @prayer_meetings_data.present? ? @prayer_meetings_data[0][3] : "no records yet" %></td>
    <td><%= @prayer_meetings_data.present? ? @prayer_meetings_data[0][4] : "no records yet" %></td>
    <td><%= @prayer_meetings_data.present? ? @prayer_meetings_data[0][5] : "no records yet" %></td>
    <td><%= @prayer_meetings_data.present? ? @prayer_meetings_data[0][1] : "no records yet" %></td>
    </tr>
    <tr>
    <td>Small Groups</td>
    <td><%= @small_groups_data.present? ? @small_groups_data[0][2] : "no records yet" %></td>
    <td><%= @small_groups_data.present? ? @small_groups_data[0][3] : "no records yet" %></td>
    <td><%= @small_groups_data.present? ? @small_groups_data[0][4] : "no records yet" %></td>
    <td><%= @small_groups_data.present? ? @small_groups_data[0][5] : "no records yet" %></td>
    <td><%= @small_groups_data.present? ? @small_groups_data[0][1] : "no records yet" %></td>
    </tr>
  </tbody>
</table>


<%= link_to "Previous Week", weekly_stats_path(week_number: @week_number - 1) %>
<%= link_to "Next Week", weekly_stats_path(week_number: @week_number + 1) %>
